<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Contact')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<!--be a pro-->
<h1>Contact Me</h1>

<div class="d-flex flex-column align-items-center">
    <h3 class="card-title">Jeremiah Baham</h3>
    <img class="jeremiah-pic">
</div>
<div class="d-flex justify-content-center">
    <a href="https://github.com/jbaham"><span
            class="btn about-btn"><i
            class="fab fa-github"></i></span></a>
    <a href="https://linkedin.com/in/jeremiahbaham"><span
            class="btn about-btn"><i class="fab fa-linkedin"></i></span></a>

    <h6>Marine Corps Veteran |</h6>

    <h6>| Passion for Continuous Learning</h6>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>