<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Home Page')">
</head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="hero-image">
    <div class="hero-text">
        <h1>Jeremiah Baham</h1>
        <h3>Full Stack Software Developer | Marine Corps Veteran</h3>
        <p>Highly motivated developer with a passion for continuous learning. As Marine Corps veteran, I have earned
            strong analytical skills needed to thrive in a technical and team-oriented environment. I am excited for the
            opportunity to join a dynamic industry where I can utilize my technical skills and continue growing as a
            developer.
    </div>
    <div>
        <ul>
            <div>
                <li>Java</li>
                <li>Java SE</li>
                <li>CSS</li>
                <li>MySQL</li>
                <li>JavaScript</li>
                <li>Spring-Boot</li>
                <li>Java EE</li>
            </div>
            <div>
                <li>jQuery</li>
                <li>VCS with Git</li>
                <li>Thymeleaf</li>
                <li>Paired Programing</li>
                <li>BootStrap Framework</li>
                <li>MEARN Stack</li>
                <li>Swift</li>
            </div>
        </ul>
        </p>
        <button>Hire me</button>
    </div>
</div>
<main>
    <div>
        <div>
            <h1>DIV1</h1>
        </div>
        <div>
            <h1>DIV2</h1>
        </div>
        <div>
            <h1>DIV3</h1>
        </div>
        <div>
            <h1>DIV4</h1>
        </div>
        <div>
            <h1>DIV5</h1>
        </div>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>